<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<persistence xmlns="https://jakarta.ee/xml/ns/persistence"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="https://jakarta.ee/xml/ns/persistence https://jakarta.ee/xml/ns/persistence/persistence_3_0.xsd"
             version="3.0">
  <persistence-unit name="PU">
      <class>com.example.rosacrm.repository.entity.Address</class>
      <class>com.example.rosacrm.repository.entity.Client</class>
      <class>com.example.rosacrm.repository.entity.Entreprise</class>
      <class>com.example.rosacrm.repository.entity.Event</class>
      <class>com.example.rosacrm.repository.entity.Note</class>
      <class>com.example.rosacrm.repository.entity.Prospect</class>
      <class>com.example.rosacrm.repository.entity.Sector</class>
      <class>com.example.rosacrm.repository.entity.User</class>
      <properties>
          <property name="hibernate.connection.url" value="jdbc:mysql://localhost:3306/rosacrm"/>
          <property name="hibernate.connection.driver_class" value="com.mysql.cj.jdbc.Driver"/>
          <property name="hibernate.connection.username" value="root"/>
          <property name="hibernate.connection.password" value="admin"/>
      </properties>
  </persistence-unit>
</persistence>
